.header {
    display: flex;
    padding: 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; // Added to ensure the navigation spans the entire width

        .nav-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            font-weight: bold;
            font-size: xx-large;
            color: white;

            span {
                color: #8EE366;
            }
        }

        nav {
            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
                margin: 0 1.5rem; // Adjust as needed

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: flex-end; // Align the button to the right
        }
    }

    .hamburger-menu{
        display: none;
        width: 100vw;
    }

    .hamburger-button {
        border: none;
        background-color: transparent;
        color: white;
        padding: 5px;
        font-size: 5rem;
        cursor: pointer;
     }

     .nav-burger-link {
        background-color: #333;
        color: white;
        display: none;
     }
     .nav-burger-link a {
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
     }
     .nav-burger-link a:hover {
        background-color: #111;
     }
}

@media (max-width: 768px) {
    .header {
        .navigation {
            display: none;
        }

        .hamburger-menu{
            display: block;
        }
    }
}
